<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      InAppBrowser
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Browser URL -->
  <ion-item>
    <ion-label position="floating">Browser URL</ion-label>
    <ion-input [(ngModel)] = "urls.browserUrl"> </ion-input>
  </ion-item>

  <!-- Target URL -->
  <ion-item>
    <ion-label position="floating">Target URL</ion-label>
    <ion-input [(ngModel)] = "urls.targetUrl"> </ion-input>
  </ion-item>

  <ion-button expand="full" (click)="openInAppBrowser()">Track the URL</ion-button>
</ion-content>
